html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


:root{
  --verde: #56FF85;
  --vermelho: #FF614B;
  --amarelo: #FDE078;
  --branco: #F4F1E6;
}
