.all {
  height: 100vh;
  background-color: var(--branco);
  .select {
    display: flex;
    .cards {
      width: 25%;
      height: 70vh;
      background: var(--amarelo);
      background: linear-gradient(
        180deg,
        rgba(253, 224, 120, 1) 80%,
        rgba(244, 241, 230, 1) 100%
      );
      text-align: center;
      img {
        padding-top: 20%;
      }
      p {
        padding-top: 5%;
        font-size: 42px;
        font-weight: 300;
      }
    }
    .cards:hover {
      opacity: 0.8;
    }
    .selectedCard {
      width: 25%;
      height: 70vh;
      background: rgb(253, 224, 120);
      background: linear-gradient(
        180deg,
        rgba(253, 224, 120, 1) 80%,
        rgba(244, 241, 230, 1) 100%
      );
      text-align: center;
      opacity: 0.7;
      img {
        padding-top: 20%;
      }
      p {
        padding-top: 5%;
        font-size: 42px;
        font-weight: 300;
      }
    }
  }
  .responsiveSelect {
    display: none;
  }
  .skill {
    h1 {
      text-align: center;
      font-size: 42px;
      font-weight: 400;
    }
    ul {
      flex-direction: row;
      justify-content: center;
      display: flex;
      li {
        margin: 0 5%;
        font-size: 36px;
        font-weight: 300;
      }
    }
  }
}
@media  (min-width: 361px) and (max-width: 450px) {
  .all {
    background-color: var(--amarelo);
    padding: 1rem;
    .select {
      display: none;
    }
    .responsiveSelect {
      display: block;
      .card {
        width: 200px;
        padding-left: 20%;
        padding-top: 10%;
        p {
          font-size: 24px;
        }
      }
    }
    .skill {
      h1 {
        text-align: center;
        font-size: 36px;
        font-weight: 400;
      }
      ul {
        flex-direction: column;
        justify-content: center;
        display: flex;
        li {
          margin: 0 5%;
          font-size: 24px;
          font-weight: 300;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .all {
    background-color: var(--amarelo);
    padding: 2rem;
    .select {
      display: none;
    }
    .responsiveSelect {
      display: block;
      
      .card {
        padding-top: 10%;
        padding-left: 25%;
        p {
          font-size: 24px;
        }
      }
    }
    .skill {
      h1 {
        text-align: center;
        font-size: 36px;
        font-weight: 400;
      }
      ul {
        flex-direction: column;
        justify-content: center;
        display: flex;
        li {
          margin: 0 5%;
          font-size: 24px;
          font-weight: 300;
        }
      }
    }
  }
}

